<% if logged_in? %>
<script type="text/javascript">
    window.location.href="/address"  // put your correct path in a string here
  </script>
<% end %>


<div class="center vertical-center">
  <% if !logged_in? %>
        <h1>Welcome ;)</h1>
        <br/>

        <br/>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="well">
            <%= form_for(:session, url: login_path) do |f| %>
      
              <%= f.text_field :username, class: 'form-control', :placeholder => "username" %>
      
              <%= f.password_field :password, class: 'form-control', :placeholder => "password" %>
            
        
              <%= f.submit "Log in", class: "btn btn-primary" %>
            <% end %>
            </div>
          </div>
        </div>
    <% else %>
      <h3>What are you looking at?? ;)</h3>
    <% end %>

</div>