<div class="well">
           <a class="btn btn-default" href="#" role="button">ALL</a>
            <%('A'..'Z').each { |letter| %>
              <a class="btn btn-default" href="#" role="button"><%= letter%></a>  
            <%}%>
        </div>