<footer class="footer navbar-fixed-bottom">
  <div class="container">
  <small>
    The <a href="http://www.twitter.com/">Address Book</a>
    by <a href="http://www.facebook.com/">Bima Ngganteng</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   root_path %></li>
      <li><%= link_to "Contact", root_path %></li>
      <li><a href="http://engadget.com/">News</a></li>
    </ul>
  </nav>
  </div>
</footer>