
  
  <div class="container-fluid">

    <div class="row container-contact">
      <div class="col-md-2 well">
        <h3>My Contact</h3>
        <button class="btn btn-primary" type="submit">Add Contact</button>
      </div>
      
      <div class="col-md-6">
        <div class="well">
            <input type="text" class="form-control" id="search-contact" placeholder="Search Contact">
            <button type="submit" class="btn btn-default">Search</button>
        </div>
        <div class="well">
           <a class="btn btn-default" href="#" role="button">ALL</a>
            <%('A'..'Z').each { |letter| %>
              <a class="btn btn-default" href="#" role="button"><%= letter%></a>  
            <%}%>
        </div>
        <div class="well white contact-block">
          <ul class="contacts">
               <li>
                 Alexander Otsuka
               </li>
               
                <li>
                 Anita Yung
               </li>
          </ul>
        </div>
      </div>
      
      <div class="col-md-4 well">
        <h3>Contact Preview</h3>
      </div>
    </div>
  </div>
  

